div
  h2 3.1) Basics

  p Resources are at the heart of Nodulator. This object allows you to modelize 
    | and manipulate documents or tables from DB system. 
  p Here is the simpliest way to declare and to use a Resource : 

  codetoggle
    livescript
      include ../../../exemples/ls/resourcebasics.ls
    coffee
      include ../../../exemples/coffee/resourcebasics.coffee
    js
      include ../../../exemples/js/resourcebasics.js
      
  br
      
  p The arguments a Resource can take are describe here: 
    bash
      | N.Resource name, [Route], [Config]

  br
  p The Route and Config arguments are both optionals and can be swaped
  
  p This call returns a PlayerResource object that represents your Player model in DB
  p The same object is also available through 'N.Player'. 
    
  p You can get and manage your models thanks a Resource, with theses Class methods (for exemple with a 'Players' resource, and a 'player' instance):
    ul
      li
        a(href="#/doc/resource/create") Player.Create()
      li
        a(href="#/doc/resource/fetch") Player.Fetch()
      li
        a(href="#/doc/resource/list") Player.List()
      li
        a(href="#/doc/resource/deleteres") Player.Delete()
        
    | And theses Instance methods: 

    ul
      li
        a(href="#/doc/resource/save") player.Save()
      li
        a(href="#/doc/resource/deleteins") player.Delete()
      li
        a(href="#/doc/resource/tojson") player.ToJSON()
      li
        a(href="#/doc/resource/serialize") player.Serialize()
      li
        a(href="#/doc/resource/extendsafe") player.ExtendSafe()
