div
  div(ng-switch="sub")
    div(ng-switch-when="basics")
      resourcebasics
    div(ng-switch-when="create")
      resourcecreate
    div(ng-switch-when="fetch")
      resourcefetch
    div(ng-switch-when="list")
      resourcelist
    div(ng-switch-when="deleteres")
      resourcedeleteres
    div(ng-switch-when="save")
      resourcesave
    div(ng-switch-when="deleteins")
      resourcedeleteins
    div(ng-switch-when="tojson")
      resourcetojson
    div(ng-switch-when="serialize")
      resourceserialize
    div(ng-switch-when="extendsafe")
      resourceextendsafe
