div
  h2 4.3.8) Remove

  h3 Arguments
  
  p The 'Remove' instance method is used to remove an attached Resource from another based on relationships.
  br
  p It takes a Resource instance
    bash
      | resource.Remove instance

  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourceserialize.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourceserialize.coffee
  //-   js
  //-     include ../../../../exemples/js/resourceserialize.js
