div
  h2 4.3.10) Log

  h3 Arguments
  
  p The 'Log' instance method is used to print the .ToJSON() to the console.
  br
  p It takes no arguments
    bash
      | resource.Log()

  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourceserialize.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourceserialize.coffee
  //-   js
  //-     include ../../../../exemples/js/resourceserialize.js
