div
  h2 4.3.9) Watch

  h3 Arguments
  
  p The 'Watch' instance method is used execute the given optional callback when the watched instance has changed on DB.
  p It then self-update the instance with new changes.
  br
  p It takes an optional callback
    bash
      | resource.Watch [callback]

  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourceserialize.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourceserialize.coffee
  //-   js
  //-     include ../../../../exemples/js/resourceserialize.js
