div
  h2 4.3.7) Add

  h3 Arguments
  
  p The 'Add' instance method is used to attach a Resource to another based on relationships.
  br
  p It takes a Resource instance
    bash
      | resource.Add instance

  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourceserialize.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourceserialize.coffee
  //-   js
  //-     include ../../../../exemples/js/resourceserialize.js
