div
  h2 4.3.1) Save

  h3 Arguments
  
  p The 'Save' instance method give you ability to save a row into your DB system.
  p If the given row dont have an id, it is inserted.
  
  p I takes the following arguments
    bash
      | resource.Save [callback]
    
    p And returns a 
      a(href="#/resource/promises") Promise 
      | if no callback is given.
      
    p The callback is of form 'function (err, data)'
            
  h3 Exemple
  
  codetoggle
    livescript
      include ../../../../exemples/ls/resourcesave.ls
    coffee
      include ../../../../exemples/coffee/resourcesave.coffee
    js
      include ../../../../exemples/js/resourcesave.js
