div
  h2 4.3.5) ExtendSafe

  h3 Arguments
  
  p The 'ExtendSafe' instance method is used to take care of relationships when extending the instance with an external object
  p This call avoid any accidental erases when extending

  br
  p It takes an object as only argument 
    bash
      | resource.ExtendSafe object
                
  h3 Exemple
  
  codetoggle
    livescript
      include ../../../../exemples/ls/resourceextendsafe.ls
    coffee
      include ../../../../exemples/coffee/resourceextendsafe.coffee
    js
      include ../../../../exemples/js/resourceextendsafe.js
