div
  h2 4.3.3) Fetch

  h3 Arguments
  
  p The 'Fetch' instance method is used refetch the instance from DB to take care of changes
  br
  p It takes an optional callback or returns a promise
    bash
      | resource.Fetch [callback]

  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourceserialize.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourceserialize.coffee
  //-   js
  //-     include ../../../../exemples/js/resourceserialize.js
