div
  h2 4.3.2) Set

  h3 Arguments
  
  p The 'Set' instance method is used to add some properties to the instance and to save automaticaly.
  br
  p It takes an object and extend the instance with it.
    bash
      | resource.Set object
                
  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourceserialize.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourceserialize.coffee
  //-   js
  //-     include ../../../../exemples/js/resourceserialize.js
