div
  h2 4.2.11) BelongsTo

  h3 Arguments
  
  p The 'BelongsTo' class method set a one-to-one relationship between two Resource in one direction only.
  p It takes the following arguments: 
    bash
      | Resource.BelongsTo AnotherResource, [fieldName], [foreignKeyName]
  
    p And returns the Resource
    
  p Warning, this call create a Required() field with the name of the 'AnotherResource' in the 'Resource'
  p See the corresponding 
    a(href="") BelongsTo
    | documentation for more details
          
  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourcecreate.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourcecreate.coffee
  //-   js
  //-     include ../../../../exemples/js/resourcecreate.js
