div
  h2 4.2.17) HasAndBelongsToMany

  h3 Arguments
  
  p The 'HasAndBelongsToMany' class method set a many-to-many relationship with another Resource.
  p It takes the following arguments: 
    bash
      | Resource.HasAndBelongsToMany AnotherResource, [reversed]
  
    p And returns the Resource
    
  p This call will set a table/collection to maintain the relashionships with the ordonned names of the Resources.

  p See the corresponding 
    a(href="") HasAndBelongsToMany
    | documentation for more details
          
  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourcecreate.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourcecreate.coffee
  //-   js
  //-     include ../../../../exemples/js/resourcecreate.js
