div
  h2 4.2.15) HasOneThrough

  h3 Arguments
  
  p The 'HasOneThrough' class method set a relationship through another Resource.
  p It takes the following arguments: 
    bash
      | Resource.HasOneThrough AnotherResource, ThroughResource
  
    p And returns the Resource
    
  p This call create a HasOne relationship between Resource and ThroughResource, then a HasOne relationship between ThroughResource and AnotherResource.
  p This way when you fetch a Resource, it will get the attached AnotherResource and ThroughResource

  p See the corresponding 
    a(href="") HasOneThrough
    | documentation for more details
          
  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourcecreate.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourcecreate.coffee
  //-   js
  //-     include ../../../../exemples/js/resourcecreate.js
