div
  h2 3.2.1) Create

  h3 Arguments
  
  p The 'Create' class method give you ability to insert a row/document into your DB system.
  p I takes the following arguments
    bash
      | Resource.Create object(s), [callback]
    
    p And returns a 
      a(href="#/resource/promises") Promise 
      | if no callback is given.
      
    p The callback is of form 'function (err, data)'
      
  h3 Argument type
  
  p The first argument can be 2 from types of arguments :
    ul
      li Object: 
        ul 
          li An Object like {name: 'Fergusson', level: 5}. 
          li Returns the created object
      li Object Array:
        ul 
          li An array of Objects. 
          li Returns an Array
      
  h3 Exemple
  
  codetoggle
    livescript
      include ../../../../exemples/ls/resourcecreate.ls
    coffee
      include ../../../../exemples/coffee/resourcecreate.coffee
    js
      include ../../../../exemples/js/resourcecreate.js
