div
  h2 3.2.3) List

  h3 Arguments
  
  p The 'List' class method give you ability to multiples get rows/documents from your DB system.
  p I takes the following arguments
    bash
      | Resource.List [object|array, [callback]]
    
    p And returns a 
      a(href="#/resource/promises") Promise 
      | if no callback is given.
      
    p The callback is of form 'function (err, data) {}'
      
  h3 Argument type
  
  p If you don't give any arguments to Resource.List, it will get EVERY rows in that collection.
    | Its an alias for Resource.List({}).
  
  p The first argument can be from 2 types :
    ul
      li Object: 
        ul 
          li An Object of constraints like {level: 5}
          li Returns an Array with every corresponding row
      li Object Array:
        ul 
          li An array of Objects.
          li Returns an Array of Array
      
  h3 Exemple
  
  codetoggle
    livescript
      include ../../../../exemples/ls/resourcelist.ls
    coffee
      include ../../../../exemples/coffee/resourcelist.coffee
    js
      include ../../../../exemples/js/resourcelist.js
