div
  h2 4.2.13) MayHasMany

  h3 Arguments
  
  p The 'MayHasMany' class method is the same call as 'HasMany' except that it set the foreign key to be Optional()
  p It takes the following arguments: 
    bash
      | Resource.MayHasMany AnotherResource, [autoBelongsTo], [fieldName], [foreignKeyName]
  
    p And returns the Resource
    
  p See the corresponding 
    a(href="") MayHasMany
    | documentation for more details
          
  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourcecreate.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourcecreate.coffee
  //-   js
  //-     include ../../../../exemples/js/resourcecreate.js
