div
  h2 4.2.7) Extend

  h3 Arguments
  
  p The 'Extend' class method allows you to return a new Resource based on an existing one. It is used to set inheritance between Resources.
  p It takes the same arguments as the 'N()' method and act exactly like it.
    bash
      | Resource.Extend name, [Route], [Config]
    
    p And returns a Resource
    
  p The newly created Resource inherits from methods, schema, associations and configuration of parent Resource.
  p It does not inherits from its routes.
      
  h3 Exemple
  
  codetoggle
    livescript
      include ../../../../exemples/ls/resourceextend.ls
    coffee
      include ../../../../exemples/coffee/resourceextend.coffee
    js
      include ../../../../exemples/js/resourceextend.js
