div
  h2 4.2.16) HasManyThrough

  h3 Arguments
  
  p The 'HasManyThrough' class method set a relationship through another Resource.
  p It takes the following arguments: 
    bash
      | Resource.HasManyThrough AnotherResource, ThroughResource
  
    p And returns the Resource
    
  p This call create a HasMany relationship between Resource and ThroughResource, then a HasMany relationship between ThroughResource and AnotherResource.
  p This way when you fetch a Resource, it will get the attached AnotherResource and ThroughResource

  p See the corresponding 
    a(href="") HasManyThrough
    | documentation for more details
          
  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourcecreate.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourcecreate.coffee
  //-   js
  //-     include ../../../../exemples/js/resourcecreate.js
