div
  h2 4.2.8) AttachRoute

  h3 Arguments
  
  p The 'AttachRoute' class method allows you to lately attach a Route to the Resource.
  p It takes the Route object to attach
    bash
      | Resource.AttachRoute Route
    
    p And returns the Resource
          
  h3 Exemple
  
  //- codetoggle
  //-   livescript
  //-     include ../../../../exemples/ls/resourcecreate.ls
  //-   coffee
  //-     include ../../../../exemples/coffee/resourcecreate.coffee
  //-   js
  //-     include ../../../../exemples/js/resourcecreate.js
