div
  footer#footer(ng-if="location !== '/doc'")
    .container
      .row
        .col-xs-6.col-sm-6.col-md-3.column
        .col-xs-6.col-sm-6.col-md-3.column
          h4 Information
          ul.nav
            li
              a(href='#') Developers
        .col-xs-6.col-md-3.column
          h4 Follow Us
          ul.nav
            li
              a(href='#') Twitter (Soon)
            li
              a(href='#') Facebook (Soon)
            li
              a(href='#') Google+ (Soon)
        .col-xs-6.col-md-3.column
          h4 Contact Us
          ul.nav
            li
              a(href='mailto:champii.akronym@gmail.com') Email
            li
              a(href='https://github.com/Champii/Nodulator/issues') Issues
        //- .col-xs-6.col-md-3.column
        //-   h4 Customer Service
        //-   ul.nav
        //-     li
        //-       a(href='#') About Us
        //-     li
        //-       a(href='#') Delivery Information
        //-     li
        //-       a(href='#') Privacy Policy
        //-     li
        //-       a(href='#') Terms &amp; Conditions
      // /row
      p.text-right &copy;2015
  .scroll-up
    a(href='#')
      i.fa.fa-angle-up
