span
  span(ng-switch="location")
    span(ng-switch-when="")
      landing
    span(ng-switch-when="/")
      landing
    span(ng-switch-when="/home")
      landing
    span(ng-switch-default)
      doc
