div
  span(ng-class="{selected: language == 'coffee'}", class="codetoggle", ng-click="Toggle('coffee')") Coffee
  span(ng-class="{selected: language == 'js'}", class="codetoggle", ng-click="Toggle('js')") Js
  br
  div(ng-transclude)
