div(class="sidebar")
  ul
    li [Philosophy]
    li [Features]
    li [Compatible modules]
    li [Installation]
    li [Quick Start]
    li [Configuration]
    li [Resource]
      ul
        li [Basics]
        li [Class methods]
        li [Instance methods]
        li [Schema and Validation]
        li [Model association]
        li [Overriding and Inheritance]
        li [Override default behaviour]
        li [Abstract Class]
        li [Complex inheritance system]
    li [Route]
      ul
        li [Route Object]
        li [DefaultRoute]
        li [Route Inheritance]
    li [DB Systems]
      ul
        li [Abstraction]
        li [Mysql]
        li [MongoDB]
        li [SqlMem]
    li [Other Stuff]
      ul
        li [Bus]
    li [Modules]
      ul
        li [Usage]
        li [Module Hacking]
    li [Project Generation]
    li [Developers]
    li [Contributors]
    li [DOC]
    li [TODO]
    li [Changelog]
