div(class="consolehelp")
  h3 Console Help

  h4 Intro
  
  p This console is a fork of a container at http://code.runnable.com. It has Nodulator preinstalled
   | and ready to be used.
  p It has only a testing purpose and will reset itself at a moment. For better tests, install Nodulator locally and run your own tests !
   
  p
    b Be careful, this container resets itself pretty offen. If so, you can loose your currently running task
     | but your files may stay. Also, if you refresh the page or you go out of the documentation section,
     |  you will refresh your session.
   
  p But you can hide it and show it again, it will keep your session up. 
  
  h4 Nodulator
  
  p Nodulator Console is already launched, and allows you to perform actual Nodulator commands.
  p For exemple, try to create a Resource and fetch an element from it:
    livescript
      | N > Players = N \player
      | [...]
      | N > player1 = Players.Create name: \player1
      | {id: 1, name: 'player1'}
      | N > player1.name = \newPlayer1
      | 'newPlayer1'
      | N > player1.Save!
      | {id: 1, name: 'newPlayer1'}
      | N > newPlayer1 = Players.Fetch name: \newPlayer1
      | {id: 1, name: 'newPlayer1'}
    
  h4 Tmux
  
  p Tmux is prelaunched and preconfigured. Your binding key is ctrl+Z.
  p Split horizontaly : ctrl+Z + 2
  p Split vertically  : ctrl+Z + 3
  p Move to a pane : ctrl+Z + [arrow]
  p Close a pane : ctrl+d
