div.doc
  section#section4
    sidebar
    div(class="docbody")
      pagebody(class="pagebody") 
      div(ng-show="visible" class="terminal-container-global")
        div(ng-show="service.length" class="terminal-container")
          iframe(class="terminal-iframe" ng-src="{{serviceUrl}}" frameborder="0" height="100%")
        div(ng-show="!service.length" class="terminal-container-wait")
          h2(style="padding: 10px; padding-top: 100px" ng-show="!error.length") 
            center 
              | Loading a runnable terminal...
          h2(style="padding: 10px; padding-top: 100px" ng-show="error.length") 
            | Error: {{error}}
