div
  h2 1) Installation
  
  p Nodulator is available through NPM

  bash $> npm install nodulator
  
  p It's also available as a global package  
    
  bash $> sudo npm install -g nodulator

  p And you are ready to use it !
