div
  h2 2) Quick Start
  
  p Nodulator is designed to be easy to use.
  p The main usage you can find is to manage DBs and provide routes to handle it
  
  br
  
  p The following exemple create two routes to handle the Player Resource:
    ul
      li GET /api/1/players     => List every rows
      li GET /api/1/players/:id => Get Player with given id
  
  codetoggle
    livescript
      include ../../exemples/ls/quickstart1.ls
    coffee
      include ../../exemples/coffee/quickstart1.coffee
    js
      include ../../exemples/js/quickstart1.js
