div
  h2 2) Quick Start
  
  p Nodulator is designed to be easy to use.
  p The main usage you can find is to manage DBs and provide routes to handle it
  
  br
  
  codetoggle
    livescript
      include ../../exemples/ls/quickstart1.ls
    coffee
      include ../../exemples/coffee/quickstart1.coffee
    js
      include ../../exemples/js/quickstart1.js
