div(class="sidebar")
  ul
    li 
      a(href="#/installation") [Installation]
    li 
        a(href="#/quickstart") [Quick Start]
    li 
      | [Resource]
      ul
        li 
          a(href="#/resource/basics") [Basics]
        li
          | [Class Methods]
          ul
            li 
              a(href="#/resource/create") [Create]
            li 
              a(href="#/resource/fetch") [Fetch]
            li 
              a(href="#/resource/list") [List]
            li 
              a(href="#/resource/deleteres") [Delete]
        li
          | [Instance Methods]
          ul
            li 
              a(href="#/resource/save") [Save]
            li 
              a(href="#/resource/deleteins") [Delete]
            li 
              a(href="#/resource/tojson") [ToJSON]
            li 
              a(href="#/resource/serialize") [Serialize]
            li 
              a(href="#/resource/extendsafe") [ExtendSafe]
    li 
      a(href="#/configuration") [Configuration]
