.sidebar {
  position: fixed;
  width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.pagebody {
  width: 100%;
  padding-left: 300px;
}


.codetoggle {
  float: left;
  padding-left: 10px;
}

.selected {
  font-weight: bold;
  color: #f44d3c;
}
