

.sidebar ul { counter-reset:item; }
.sidebar ul > li { counter-increment:item; }
.sidebar ul > li:before {content: counter(item) " "; padding-right: 10px; color: rgb(150, 150, 150) }
/*.sidebar ul > li:before a.section {content: "+ " counter(item) " "; }*/

.sidebar ul > li > ul { counter-reset:subitem; }
.sidebar ul > li > ul > li { counter-increment:subitem; }
.sidebar ul > li > ul > li:before { content: counter(item) "." counter(subitem) " "; }

.sidebar ul > li > ul > li > ul { counter-reset:subsubitem; }
.sidebar ul > li > ul > li > ul > li { counter-increment:subsubitem; }
.sidebar ul > li > ul > li > ul > li:before { content: counter(item) "." counter(subitem) "." counter(subsubitem)  " "; }

.sidebar ul {
  padding-left: 20px;
  list-style-type: none;
}

html body {
  height: 100%
}
.sidebar li {
  border-size: 1px;
  padding-top: 5px;
  padding-left: 0px;
}
.sidelist a {
  color: rgb(231, 231, 231);
}

.doc {
  height: 100%;
}

#section4 {
  height: 100%;
  padding: 0;
  padding-top: 50px;
  min-height: 900px;
}

.sidebar h3 {
  padding-left: 20px;
  padding-top: 20px;
}
.sidebar {

  float: left;
  width: 250px;
  height: auto;
  /*overflow-x: hidden;*/
  background-color: rgb(75,75,75);
}

.pagebody {
  background-color: rgb(75,75,75);
  width: 100%;
  /*height: 100%;*/
  padding-left: 250px;
  color: rgb(17, 17, 18);
  min-height: 900px;
}

.content {
  min-height: 900px;
  margin-bottom: 0;
  /*height: 100%;*/

}

.navbar #navbar-collapsible {
  margin-left: 27%;

}

#section4 p {
  width: 800px;
  letter-spacing: 1px;
}

.codetoggle {
  /*float: left;*/
  padding-left: 10px;
  /*width: 1000px;*/
}

.selected {
  font-weight: bold;
  color: #f44d3c;
}
