/*.sidebar {
  position: fixed;
  width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  width: 500px;
  padding-left: 300px;
}
*/

.codetoggle {
  float: left;
  padding-left: 10px;
}

.selected {
  font-weight: bold;
  color: #f44d3c;
}
